#!/bin/bash

## General MUMmer4 Arguments
threads="<Number of available threads>"
refGenomeFilePath="<Path to reference genome fasta file>"
qryGenomeFilePath="<Path to query genome fasta file>"
mummer4OutputPathPrefix="<Path and file name prefix information>" 		#Ex. <OutputDirPath>/<SpeciesName>

## Nucmer Arguments
nucmerL="<Minimum length threshold for a single nucmer exact match>" 						#Ex. 50
nucmerC="<Minimum length threshold of a cluster of matches>" 								#Ex. 100
nucmerB="<Distance nucmer will attempt to extend poor scoring regions before giving up>" 	#Ex. 500

## Delta-filter Arguments
minIdentity="<Minimum percent identity filtering threshold>"
minLength="<Minimum length filtering threshold>"

## Show-Coords and reformatting Arguments
refCoordFilePath="${mummer4OutputPathPrefix}_RefAsRef.coords"
qryCoordFilePath="${mummer4OutputPathPrefix}_QryAsRef.coords"

#General Alg1 Args
outputFilePrefix="<Path and file prefix name for called SV location files>"
svMinSize="<Minimum size threshold (in bps) for an SV>" # Ex. 50

## Prefix for Alg 1 output files
alg1OutputFilePrefix=$outputFilePrefix

## Remove Translocated Dups
dupNoTransOutputFile="<Path and file information for duplications without translocations>"

## Remove Inverted Duplication
dupNoInvsOutputFile="<Path and file information for duplications without translocations or inversions>"

## Alg1 SV Output Files Args for conversion to VCF
sampleChromInfoFile="<Path and file name for the file containing VCF header formatted contig/chromosome info the reference sample>" #Sample file provided in repo

## Duplication Verification Args
verificationDirPath="<Path to directory for verification files>"