#!/bin/bash

## Prefix for Alg 1 output files
alg1OutputFilePrefix="<Path and file prefix name for called SV location files>"


## Remove Translocated Dups
dupNoTransOutputFile="<Path and file information for duplications without translocations>"


## Remove Inverted Duplication
dupNoInvsOutputFile="<Path and file information for duplications without translocations or inversions>"


## Remove Inverted Translocations
transNoInvsOutputFile="<Path and file information for duplications without translocations or inversions>"


## Alg1 SV Output Files Args for conversion to VCF
sampleChromInfoFile="<Path and file name for the file containing VCF header formatted contig/chromosome info the reference sample>" #Sample file provided in repo


## Duplication Verification Args
refGenomeFilePath="<Path to reference genome fasta file>"
qryGenomeFilePath="<Path to query genome fasta file>"
verificationDirPath="<Path to directory for verification files>"
